@import url('https://fonts.googleapis.com/css?family=Pacifico|VT323|Quicksand|Inconsolata');

body{
  margin: 0;
  overflow-y: auto;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(0, 255, 255, 1));
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider#colorC {
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(0, 255, 255, 1));
}

.slider#colorM {
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 0, 255, 1));
}

.slider#colorY {
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 0, 1));
}

.slider#colorK {
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(0, 0, 0, 1));
}

.colorPreview {
    width: 100%;
    height: 75px;
    background: white;
}

.container {
    height: 100%;
}

.cHeader {
    width: 100%;
    height: 15%;
    background-color: LightGray;
    border-bottom: 1px solid LightSlateGray;
}

.cHeader > h1 {
  padding-left: 10%;
  padding-top: 20px;
  font: 80px Arial, bold;
}

.cBody {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90%;
    background-color: white;//Snow;
}

.content {
    width: 100%;
    height: 100%;
    background-color: white;//Gainsboro;
}

.contentHeader {
    height: 10%;
    width: 100%;
    background-color: white;//Gainsboro;
}

.contentBody {
    display: flex;
    justify-content: center;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column#side {
    width: 15%;
    background-color: white;//Silver;
}

.column#middle {
    width: 50%;
    background-color: white;//Gray;
}

.columnsection {
    width: 90%;
    border-radius: 10px;
    border: 1px solid LightSlateGray;
    padding-bottom: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.columnsection > div {
    text-align: center;
}

.columnsection#sideChoice > div > button {
    width: 45%;
    margin-bottom: 1%;
}

.columnsection#colour > div, .columnsection#text > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1%;
}

.columnsection#colour > div > div, .columnsection#text > div > div {
    margin-left: 1%;
    margin-right: 1%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.columnsection#text > div > div{
    margin-bottom: 1%;
    margin-top: 1%;
}

.columnsection#text > div > div > button, .columnsection#text > div > div > select {
    width: 100%;
}

#textBottom{
    width: 100%;
}

#faceColour, #fontColour {
    width: 100%;
}

label {
    width : 100%;
}

#preview {
    width: 100%;
    height: 100%;
    background-color: white;
}

#myCanvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.faceedit {
    display: flex;
    justify-content: space-around;
    width: 95%;
    background-color: white;
    margin-top: 1px;
}

.faceedit .side {
    width: 20%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 512px;
}

.faceedit > #face {
    width: 60%;
    background-color: white;
}

.sidesection {
    width: 90%;
    height: 25%;
    background-color: white;
}

#face {
    height: 512px;
}

#faceCanvas {
    padding: 0;
    margin: auto;
    display: block;
}

.cFooter {
    width: 100%;
    height: 15%;
    background-color: white;
}

#editorHeader {
    display: flex;
}

#layers {
    height: 200px;
    width: 200px;
    overflow-y: auto;
    background-color: white;//DarkOrange;
    justify-content: center;
}

#layers > div {
    height: 50px;
    width: 170px;
    margin:5px;
    background-color: Silver;
}

#editor {
  height: 200px;
  width: 200px;
  overflow-y: auto;
  background-color: white;//LightSlateGray;
  justify-content: center;
}

.side > button{
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
}

h3 {
  margin-top: 5px;
  text-align: center;
}

canvas {
  border: 1px solid LightSlateGray;
}

button {
  background-color: white;
  color: black;
  border: 1px solid LightSlateGray;
  border-radius: 5px;
}

button:hover {
  background-color: #e7e7e7;
}

input {
  width: 80%;
}

div > input {
  justify-content: center;
}

text {
  width: 95%;
}
